/* Общие стили */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
  line-height: 1.5;
  justify-self: end;
  width: 240px;
  border-width: 1px;
}

.address p {
  width: 210px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.address a {
  font-size: 18px;
  letter-spacing: 0.07em;
  text-underline-offset: 4px;
}

/* Обложка */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center/cover;
  width: 1100px;
  min-height: 757px;
  left: 0px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  width: 1000px;
}

.aligned-text {
  display: block;
  margin: 10px 0;
  line-height: 95.4%;
}

.aligned-text_center {
  text-align: center;
  line-height: 155%;
  padding: 0 0 0 30px;
}

.aligned-text_right {
  line-height: 94%;
  text-align: right;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 109px;
  width: 1000px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 0.85em;
  text-transform: uppercase;
  color: #ffffff;
}

/* button */

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  width: 256px;
  height: 51px;
  min-width: 256px;
  min-height: 50px;
  border: 1px solid #ffffff;
}

/* Секция лотов */
.lots {
  padding: 180px 25px 25px;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 27px;
  padding-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 333.33px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center/cover;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-decoration: none !important;
  border-bottom: none !important;
  background-image: none !important;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  line-height: 4.2em;
  text-underline-offset: 4px;
}

.card-link {
  text-decoration: none !important;
  display: block;
  height: 100%;
}

.lots__card-list a:hover,
.lots__card-list a:focus {
  text-decoration: none !important;
}

/* Секция "Об аукционе" */
.about {
  display: grid;
  grid-template-columns: 312px 1fr;
  padding: 100px 50px 100px 71px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding-top: 100px;
  font-size: 40px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
}

.about__text p {
  margin-bottom: 26px;
}

/* Подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 54px 50px 90px;
}

.footer__address {
  font-style: normal;
  justify-self: start;
  width: 240px;
  border-width: 1px;
}

.footer__address a {
  font-size: 18px;
  vertical-align: 2px;
  text-underline-offset: 4px;
}

.footer__address p {
  width: 264px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/*МЕНЮ Подвала*/
.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.footer__menu-link_active {
  text-decoration: none;
}

/* socials ссылки на сети */
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
}
